<a href="https://colab.research.google.com/github/manikant070/manikant/blob/main/python10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,6):
  print("hello")

hello
hello
hello
hello
hello

In [ ]:
x = 10
while x<600:
  print("yes")
  x = x+100

yes
yes
yes
yes
yes
yes

In [ ]:
d = [40,20,80,50,30,60,90]
d

[40, 20, 80, 50, 30, 60, 90]

In [ ]:
for i in d:
  print(i*85)

3400
1700
6800
4250
2550
5100
7650

In [ ]:
dollers = [25,36,95,24,12,6,5,84,5]
ruppes = []
for i in dollers:
  ruppes.append(i*85)
ruppes

[2125, 3060, 8075, 2040, 1020, 510, 425, 7140, 425]

In [ ]:
num = [31,45,66,33,90,78,67,87,89,93,25,59,9,81]
num

[31, 45, 66, 33, 90, 78, 67, 87, 89, 93, 25, 59, 9, 81]

In [20]:
even = []
odd = []
for i in num:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)
print(even)
print(odd)

[66, 90, 78]
[31, 45, 33, 67, 87, 89, 93, 25, 59, 9, 81]

In [22]:
num1 = [39,45,66,93,90,78,67,87,89,93,25,59,49,91]
num1

[39, 45, 66, 93, 90, 78, 67, 87, 89, 93, 25, 59, 49, 91]

In [29]:
h = []
for i in num1:
  a = str(i)
  b = a.replace("9","1")
  c = int(b)
  h.append(c)
h

[31, 45, 66, 13, 10, 78, 67, 87, 81, 13, 25, 51, 41, 11]