<a href="https://colab.research.google.com/github/manikant070/manikant/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = input()
def mani(a):
    print(len(a))
    # return mani()
mani(a)

manikant kumar
14

In [ ]:
n = int(input())
def kant(n):
  fact = 1
  for i in range(1,n+1):
    fact *=i
  print(fact)
kant(5)

5
120

In [ ]:
n = 5
for i in range(1,5+1):
  print(i)

1
2
3
4
5

In [ ]:
mani=6
for i in mani:
  print(i)

TypeError: 'int' object is not iterable

In [ ]:
usd = int(input())
rupees = int(input())
def myfunction(usd,rupees):
  print(usd*rupees)
myfunction(usd,rupees)

2
90
180

In [ ]:
m =int(input())
def kumar(n):
  if n%2==0:
    print("even")
  else:
    print("odd")
kumar(m)

7
odd

In [ ]:
m =int(input())
def kumar():
  if m%2==0:
    print("even")
  else:
    print("odd")
  print(kumar)
kumar()

6
even
<function kumar at 0x78f7a84dfe20>

In [1]:
list = ["mani","kant","kumar","aman"]
print(list)

['mani', 'kant', 'kumar', 'aman']

In [3]:
list = ["mani",29,"True",65.0]
print(list)
type(list)

['mani', 29, 'True', 65.0]

list